.message-src-components-Publish-setting-setting--3DHSE {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 26px 24px;
  text-align: left;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy {
  padding: 25px 0 10px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn {
  width: 108px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input {
  border-radius: 4px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input::-webkit-input-placeholder, .message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input::-webkit-input-placeholder {
  color: #1D2126;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input::-moz-placeholder, .message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input::-moz-placeholder {
  color: #1D2126;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input:-ms-input-placeholder, .message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input:-ms-input-placeholder {
  color: #1D2126;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input::-ms-input-placeholder, .message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input::-ms-input-placeholder {
  color: #1D2126;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-cascader--69ADn .ant-input::placeholder,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-cascader--69ADn .ant-input::placeholder {
  color: #1D2126;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-select-subject--3lfnL,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-select-subject--3lfnL {
  width: 108px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-time-box--1C0ra .message-src-components-Publish-setting-select-subject--3lfnL .ant-select-selector,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-select-box--3F6zy .message-src-components-Publish-setting-select-subject--3lfnL .ant-select-selector {
  border-radius: 4px;
  font-size: 12px;
  color: #1D2126;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-tit--1EgEa,
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-time-tit--3-Xw- {
  font-size: 14px;
  color: #4E5359;
  line-height: 14px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-tips--x9c8Q {
  color: #868b91;
  font-size: 12px;
  padding: 12px 0 8px;
}
.message-src-components-Publish-setting-setting--3DHSE .ant-picker {
  width: 100%;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 {
  color: #59a4fe;
  font-size: 16px;
  position: relative;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-set-time-box--2STF4 {
  position: relative;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-set-time-box--2STF4 .message-src-components-Publish-setting-icon-clock--2oxuV {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #81858C;
  font-size: 16px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF {
  position: absolute;
  width: 113px;
  top: 40px;
  left: 0;
  background-color: #fff;
  z-index: 100;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px -2px #1D252F;
          box-shadow: 0 0 5px -2px #1D252F;
  padding: 2px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF.message-src-components-Publish-setting-hide--3mIZo {
  display: none;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF .message-src-components-Publish-setting-suggest-btn--3aW4V {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF .message-src-components-Publish-setting-suggest-btn--3aW4V span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF .message-src-components-Publish-setting-suggest-btn--3aW4V a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #FF8C00;
  font-size: 12px;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-suggest-box--21tRF .message-src-components-Publish-setting-suggest-btn--3aW4V a.message-src-components-Publish-setting-sure--1nR2f {
  color: #1D2126;
}
.message-src-components-Publish-setting-setting--3DHSE .message-src-components-Publish-setting-setting-item-time--1sBY7 .message-src-components-Publish-setting-set-txt--2NSJu {
  color: #FF8C00;
  font-size: 14px;
  cursor: pointer;
}
.message-src-components-Publish-setting-setting-tit--2DJQ4 {
  height: 40px;
  font-size: 12px;
  color: #81858C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-src-components-Publish-setting-setting-tit--2DJQ4 .message-src-components-Publish-setting-icon-arrow--3dKUm {
  color: #B7BBBF;
  font-size: 12px;
  margin-right: 3px;
}
.message-src-components-Publish-setting-setting-tit--2DJQ4::after {
  content: '';
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid #E4E6E8;
  margin-left: 24px;
}
.message-src-components-Publish-setting-setting-tit--2DJQ4.message-src-components-Publish-setting-more--3yjOZ {
  cursor: pointer;
}
.message-src-components-Publish-setting-more-box--1cgFY {
  padding-top: 10px;
}
.message-src-components-Publish-setting-more-box--1cgFY.message-src-components-Publish-setting-hide--3mIZo {
  display: none;
}
.message-src-components-Publish-setting-more-box--1cgFY .message-src-components-Publish-setting-more-item--2oacb {
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.message-src-components-Publish-setting-more-box--1cgFY .message-src-components-Publish-setting-delivery--1ltpa {
  padding: 10px 0;
  text-align: right;
}
.message-src-components-Publish-setting-more-box--1cgFY .message-src-components-Publish-setting-more-item-tit--3tdv1 {
  color: #4E5359;
  font-size: 14px;
}
.message-src-components-Publish-setting-suggest--1GMMg {
  background-color: #fff;
  border-top: 1px solid #F2F3F4;
  border-bottom: 1px solid #F2F3F4;
}
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-suggest-main--2IwmS {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-minute--3YL7Y,
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-second--nn1ni {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 280px;
  overflow-y: auto;
  border-radius: 4px;
}
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-second--nn1ni {
  border-left: 1px solid #F2F3F4;
}
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-item--1xuwL {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #333;
}
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-item--1xuwL.message-src-components-Publish-setting-active--2TGtX,
.message-src-components-Publish-setting-suggest--1GMMg .message-src-components-Publish-setting-item--1xuwL:hover {
  background-color: #F2F3F4;
}

.message-src-components-Publish-publish-publish--2e5Jg {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'PingFangSC-Regular,PingFang SC';
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-block--387_b {
  display: block;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-header--wKd6O {
  height: 48px;
  line-height: 48px;
  color: #141F33;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(29, 33, 38, 0.1);
          box-shadow: 0px 2px 8px 0px rgba(29, 33, 38, 0.1);
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-header--wKd6O .message-src-components-Publish-publish-return--1Bzdn {
  position: absolute;
  left: 10px;
  top: -1px;
  font-size: 14px;
  cursor: pointer;
  color: #81858C;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-header--wKd6O .message-src-components-Publish-publish-icon-a-left--2xfoA {
  font-size: 16px;
  margin-right: 3px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-close-img--vg36H {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-footer--1hK6y {
  height: 80px;
  line-height: 80px;
  background-color: #fff;
  text-align: right;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(29, 33, 38, 0.05);
          box-shadow: 0px -4px 8px 0px rgba(29, 33, 38, 0.05);
  padding: 0 24px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-footer--1hK6y .message-src-components-Publish-publish-publish-btn--F7yKy {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  background: #ffd630;
  border-radius: 4px;
  text-align: center;
  color: #141F33;
  font-size: 16px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-footer--1hK6y .message-src-components-Publish-publish-icon-send--14noc {
  margin-right: 5px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-tit-box--317H1 {
  height: 72px;
  line-height: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #B7BBBF;
  border-bottom: 1px solid #F2F3F4;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-tit-box--317H1 .message-src-components-Publish-publish-tit-put--2pzpP {
  height: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  font-size: 24px;
  font-family: 'PingFangSC-Medium,PingFang SC';
  border: none;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-tit-box--317H1 .message-src-components-Publish-publish-tit-len--3-tq0 {
  font-size: 12px;
  margin-left: 20px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 40px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-back--1B7MN {
  width: 13px;
  height: 13px;
  color: red;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-images-box--2QiW2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 24px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-images-box--2QiW2 .message-src-components-Publish-publish-images-item--3HJZC {
  position: relative;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  margin-right: 16px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-images-box--2QiW2 .message-src-components-Publish-publish-images-item--3HJZC .message-src-components-Publish-publish-select-img--3p42J {
  width: 72px;
  height: 72px;
  border-radius: 4px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 0;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-item--26CcF {
  width: 47%;
  background-color: #F7F8F9;
  position: relative;
  padding: 16px;
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding-top: 7px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-item--26CcF:nth-of-type(2n) {
  margin-left: 6%;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-info--4BkLM {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-icon--bynfX {
  width: 42px;
  height: 42px;
  margin-right: 16px;
  display: inline-block;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-name--3QuQL {
  width: 120px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-body--393xR .message-src-components-Publish-publish-enclosure-box--3d2m8 .message-src-components-Publish-publish-enclosure-size--2SYhL {
  color: #868b91;
  font-size: 12px;
}
.message-src-components-Publish-publish-publish--2e5Jg .message-src-components-Publish-publish-container--2gXII .message-src-components-Publish-publish-create-setting--1eDWt {
  width: 280px;
  background-color: #f5f5f5;
  height: 100%;
  overflow-y: auto;
}

.message-src-components-light-user-list--3MFyK {
  padding-bottom: 16px;
  width: 320px;
}
.message-src-components-light-user-list--3MFyK img {
  width: 32px;
  height: 32px;
  border-radius: 100% 100%;
  margin-right: 16px;
}
.message-src-components-light-user-list--3MFyK span {
  color: #1D2126;
  font-size: 14px;
}

.message-src-containers-activityDetail-index-activity-detail--vQ-SR {
  font-family: 'PingFangSC-Regular,PingFang SC';
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs {
  width: 396px;
  overflow-y: auto;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-main--3qGQm {
  padding: 0 16px;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-icon-image--JF5Ou {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  border-radius: 100% 100%;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-enclosure-info--2FxjY {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-enclosure-info--2FxjY .message-src-containers-activityDetail-index-info-tit--1Ogxg {
  color: #333;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-enclosure-info--2FxjY .message-src-containers-activityDetail-index-info-size--2xelM {
  color: #868b91;
  font-size: 12px;
  line-height: 12px;
  padding-top: 6px;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-teacher-box--3-HvW {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 16px 10px;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-left--1G3cs .message-src-containers-activityDetail-index-teacher-box--3-HvW .message-src-containers-activityDetail-index-link--1dWgi {
  width: 66px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #e1e5e9;
  font-size: 12px;
  color: #333;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-activity-container--2endf .message-src-containers-activityDetail-index-container-right--1hVyr {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F7F8F9;
  border-left: 1px solid #bfc5cb;
  overflow-y: auto;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-container-footer--1NHKT {
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-top: 1px solid #E1E5E9;
}
.message-src-containers-activityDetail-index-activity-detail--vQ-SR .message-src-containers-activityDetail-index-container-footer--1NHKT .message-src-containers-activityDetail-index-publish-btn--2VlhM {
  display: inline-block;
  width: 206px;
  height: 32px;
  line-height: 32px;
  background: #ffd630;
  border-radius: 16px;
  text-align: center;
  color: #333;
  font-size: 14px;
}
.message-src-containers-activityDetail-index-setting-box--E_9rs {
  background-color: #F7F8F9;
  border-radius: 8px;
  margin: 42px 16px 32px;
  padding: 0 16px;
}
.message-src-containers-activityDetail-index-detail-setting--fJ9NM {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
}
.message-src-containers-activityDetail-index-detail-setting--fJ9NM .message-src-containers-activityDetail-index-set-txt--QArUX {
  font-size: 14px;
  color: #4E5359;
}
.message-src-containers-activityDetail-index-detail-setting--fJ9NM .message-src-containers-activityDetail-index-time--32SoW {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
.message-src-containers-activityDetail-index-detail-setting--fJ9NM .message-src-containers-activityDetail-index-set-pick--3IJNV {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-detail-setting--fJ9NM .message-src-containers-activityDetail-index-icon-contacts--1rS1a {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #81858C;
  font-size: 15px;
  margin-left: 5px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-result-header--1lEoL {
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D2126;
  border-bottom: 1px solid #E4E6E8;
  padding: 0 18px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-result-header--1lEoL span {
  font-size: 14px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-result-header--1lEoL a {
  display: inline-block;
  width: 72px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #FFD630;
  border-radius: 4px;
  font-size: 12px;
  color: #1D2126;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-publish-btn--2VlhM {
  width: 320px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #e4e6e8;
  cursor: pointer;
  margin: 16px auto;
  color: #1D2126;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-publish-btn--2VlhM .message-src-containers-activityDetail-index-icon-add--1NJTL {
  color: #81858C;
  margin-right: 6px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-result-item--3tRLU {
  background-color: #fff;
  border-radius: 9px;
  padding: 16px;
  margin: 10px 16px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-user-info--2PIJt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-user-info--2PIJt img {
  width: 48px;
  height: 48px;
  border-radius: 100% 100%;
  margin-right: 8px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name-class--ybpej {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name--10uys {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name--10uys.message-src-containers-activityDetail-index-pb--32_VI {
  padding-bottom: 6px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name--10uys .message-src-containers-activityDetail-index-tit--2N4gJ {
  color: #1D2126;
  font-weight: bold;
  font-size: 16px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name--10uys span {
  color: #81858C;
  font-size: 14px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-name--10uys .message-src-containers-activityDetail-index-icon-delete--3Wf4b {
  margin-right: 5px;
  font-size: 15px;
  position: relative;
  bottom: 1px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-content--1Xdls {
  color: #4E5359;
  font-size: 14px;
  line-height: 22px;
  padding: 24px 0;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-img-box-list--3OjsW {
  padding-bottom: 8px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-img-box-list--3OjsW img {
  width: 72px;
  height: 72px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-operate--2abjf {
  height: 48px;
  line-height: 48px;
  border: 1px solid #E4E6E8;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 24px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-operate--2abjf span {
  display: inline-block;
  width: 92px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #81858C;
  font-size: 14px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-operate--2abjf .message-src-containers-activityDetail-index-icon-font--tH5qR {
  margin-right: 4px;
  color: #81858C;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-operate--2abjf .message-src-containers-activityDetail-index-bulb-fill--2eFDZ {
  color: #FFD630;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-lighting--1qSvr {
  padding-bottom: 24px;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-lighting--1qSvr .message-src-containers-activityDetail-index-img-box--NTeDo {
  position: relative;
  margin-right: 7px;
  display: inline-block;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-lighting--1qSvr img {
  width: 25px;
  height: 25px;
  border-radius: 100% 100%;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-lighting--1qSvr .message-src-containers-activityDetail-index-info-success--3hQn7 {
  position: absolute;
  bottom: -1px;
  right: -2px;
  width: 15px;
  height: 15px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm {
  background-color: #F7F8F9;
  border-radius: 5px;
  padding: 0 16px 16px;
  color: #1D2126;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-img--39MyQ {
  width: 72px;
  height: 72px;
  border-radius: 4px;
  margin: 16px 0 10px 41px;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-info--1dCEf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-info--1dCEf .message-src-containers-activityDetail-index-name--10uys {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  font-size: 14px;
  color: #1D2126;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-info--1dCEf img {
  width: 30px;
  height: 30px;
  border-radius: 100% 100%;
  margin-right: 10px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-content--rscLd {
  color: #4E5359;
  font-size: 14px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-content--rscLd.message-src-containers-activityDetail-index-pl--1RUo6 {
  padding-left: 40px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-content--rscLd .message-src-containers-activityDetail-index-sender-name--z7r8N {
  color: #1D2126;
  font-weight: bold;
  margin: 0 5px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-comment-editer--2aNSz {
  padding-left: 17px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-delete--D-Gpw {
  padding: 5px 0 10px 42px;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-delete--D-Gpw span {
  margin-right: 18px;
  color: #81858C;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-activity-result--2MlQP .message-src-containers-activityDetail-index-comment--2zetm .message-src-containers-activityDetail-index-comment-item--EPArz .message-src-containers-activityDetail-index-delete--D-Gpw .message-src-containers-activityDetail-index-icon-font--tH5qR {
  position: relative;
  bottom: 2px;
  right: 4px;
  font-size: 18px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A {
  padding: 0 16px 30px;
  border-top: 1px solid #E4E6E8;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-tab-box--1kLPk {
  text-align: center;
  padding: 47px 0;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-tab-box--1kLPk span {
  display: inline-block;
  cursor: pointer;
  background-color: #F7F8F9;
  border: 1px solid #F7F8F9;
  color: #B7BBBF;
  font-size: 16px;
  width: 99px;
  text-align: center;
  height: 42px;
  line-height: 42px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-tab-box--1kLPk span.message-src-containers-activityDetail-index-active--1RAnB {
  background-color: #fff;
  color: #1D2126;
  font-weight: bold;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-tab-box--1kLPk span:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-tab-box--1kLPk span:nth-of-type(2) {
  border-radius: 0 5px 5px 0;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-progress-box--28DXB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 48px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-participation--8Naqc {
  margin-left: 20px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-participate-box--2ceDw span {
  display: inline-block;
  cursor: pointer;
  color: #B7BBBF;
  font-size: 16px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-participate-box--2ceDw span.message-src-containers-activityDetail-index-active--1RAnB {
  color: #1D2126;
  font-weight: bold;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-participate-box--2ceDw span:nth-of-type(1) {
  margin-right: 20px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-user-list--2ENh1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-user-list--2ENh1 img {
  width: 36px;
  height: 36px;
  border-radius: 100% 100%;
  margin-right: 20px;
}
.message-src-containers-activityDetail-index-statistics--s0p-A .message-src-containers-activityDetail-index-user-list--2ENh1 .message-src-containers-activityDetail-index-name--10uys {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.message-src-containers-activityDetail-index-pingfen--2MiaF :golbal .message-src-containers-activityDetail-index-ant-modal-header--2Nhs9 {
  border-bottom: none;
}
.message-src-containers-activityDetail-index-star-box--35mOQ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.message-src-containers-activityDetail-index-star-box--35mOQ .message-src-containers-activityDetail-index-icon-star--1XjHm {
  font-size: 36px;
  margin: 0 10px;
  color: #E4E6E8;
  cursor: pointer;
}
.message-src-containers-activityDetail-index-star-box--35mOQ .message-src-containers-activityDetail-index-icon-star-fill--18JHO {
  color: #FFD630;
}

.message-src-containers-notice-notice-notice--F5663 {
  width: 100%;
  height: 100%;
}

.message-src-containers-activity-activity-activity--cQKrH {
  width: 100%;
  height: 100%;
}

.message-src-containers-noticeDetail-index-notice-detail--2J4x2 {
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message-src-containers-noticeDetail-index-notice-detail--2J4x2 .message-src-containers-noticeDetail-index-notice-container--5WkhT {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  overflow-y: auto;
  width: 640px;
  margin: 0 auto;
}

body {
  font-size: 36px;
  color: #555;
}
/* 禁用iPhone中Safari的字号自动调整 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
input {
  resize: none;
  -webkit-appearance: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  border: none;
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*:focus {
  outline: none;
}
em,
i {
  font-style: normal;
}
strong {
  font-weight: normal;
}
.message-src-index-clearfix--3iT2x::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.message-src-index-clearfix--3iT2x {
  zoom: 1;
}
.message-src-index-main--23TMO,
.message-src-index-container--3XCPZ {
  height: 100%;
  background: #fff;
  overflow: hidden;
}

